html {
    font-family: 'Arial';
    background-color: #336699;
    color: white;
    margin-left: 12.5%;
    margin-right:12.5%
}
h1 {
    font-size: 55pt;
    color: white;
}
a {
    font-size: 20pt;
    font-weight: bolder;
    color: white;
    margin-top: -10px;
}
#header {
    margin-bottom: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
}
a.nav {
    text-decoration: none;
}
a.nav:hover {
    text-decoration-style: wavy;
    text-decoration: overline;
    color: slategrey;
}
a.active {
    text-decoration: overline;
    color: aliceblue;
}