html {
    font-family: 'Arial';
    background-color: #446280;
    color: white;
}
h1 {
    font-size: 55pt;
    color: white;
}
h3 {
    font-size: 20pt;
    font-weight: bolder;
    color: white;
}