@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Questrial');
.loading-message {
    text-align: center;
    font-size:10pt;
    font-family: 'Source Code Pro';
     animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
html { 
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    scroll-behavior: smooth;
}
p {
    font-family: 'Source Code Pro';
    text-align: center;
}
h3, h4 {
    font-family: 'Source Code Pro';
}
a {
    text-decoration: none;
    color: cadetblue;
    font-family: 'Source Code Pro';
}
#test {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 6s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari and Chrome */
    -o-animation: fadein 6s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
    font-family: 'Source Code Pro';
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    
    font-family: 'Source Code Pro';
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5f9ea0;
  color: white;
}
.topnav {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 3s;
    animation: dropin 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.menu:link, .menu:visited {
  background-color:slategray;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

.menu:hover, .menu:active {
  background-color: lightsteelblue;
}
.blinky a:hover {
    color:Red;
}
.bioheader {
    font-weight:bold;
    color: grey;
    text-decoration: overline;
}
button {
    text-decoration: none;
    
}
.blankspace {
    color:white;
}
.arrow {
    font-size:80px;
    color:black;
}
.billyheading {
    color:black;
}
.parallax1 {
  /* The image used */
  background-image: url("Little%20Robot%20Billy.jpg");

  /* Set a specific height */
  min-height: 600px; 
    min-width: 99%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}
.parallax2 {
  /* The image used */
  background-image: url("Billy_2.jpg");

  /* Set a specific height */
  min-height: 600px; 
    min-width: 99%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}
.parallax3 {
  /* The image used */
  background-image: url("Billy%203.jpg");

  /* Set a specific height */
  min-height: 600px; 
    min-width: 99%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}
.sofiaheading {
    font-family: 'Amatic SC';
    font-size:50pt;
    color:deepskyblue;
}
.sofia {
    font-family: 'Questrial';
    background-color: transparent;
}
.sofialink {
    color: purple;
    text-decoration: underline
}
.oops {
    font-family: 'Source Code Pro';
}