html {
    font-family: 'Arial';
    
    color: white;
    animation: fadein 3s;
    animation: dropin 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
.smallmargin {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #336699;
}
a {
    font-size: 20pt;
    font-weight: bolder;
    color: white;
    margin-top: -10px;
}
#header {
    margin-bottom: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    font-size: 55pt;
    color: white;
}
a#header {
    text-decoration: none;
}
a#header:hover {
    color:#339933;
}

a.nav {
    text-decoration: none;
}
a.nav:hover {
    text-decoration-style: wavy;
    text-decoration: overline;
    color: #7d7d7d;
}
a.active {
    text-decoration: overline;
    color: #339933;
}
#joshquote {
    color: #339933;
}
.homelink {
    text-decoration: none;
    color: #339933;
    background-color: white;
    font-size: 13pt;
    padding-bottom: 10px;
    padding-right: 300%;
    padding-left: 10px;
    padding-top: 10px;
}
a.homelink:hover {
    color: white;
    background-color: #339933;
}
.invisibletext {
    color: #336699;
}
#skipto {
    font-size: 12pt;
    font-weight: bold;
}
.brandingimage {
    width: 100%;
}
.bluebg {
    background-color: #336699;
}
.whitebg {
    background-color: white;
}








}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}