@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
html {
    text-align:center;
    font-family: 'Poiret One';
}
h1 {
    text-align: center;
    font-family: 'Poiret One';
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#c2heading {
    padding-top: 300px;
    font-size: 40pt;
    padding-bottom: 0px;
    margin-bottom: -15px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#subtitle {
    font-family: 'Poiret One';
    font-weight: bold;
    padding-top: px;
    letter-spacing: .15em;
}
.typewriter h1 {
  font-family: Poiret One; /* Web-safe typewriter-like font */
    color: dimgrey
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
    animation-delay: 2s;
  animation: 
    typing 3.5s steps(30, end);
    font-size: 12pt;
    padding-top: 30px;
    width: 430px;
}
.arrow {
    font-size: 5em;
    text-decoration: none;
    color: cadetblue;
    
    
    
}
a.arrow:hover {
    color:black;
}
#blankspace {
    color:transparent
}







@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: black }
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}